<!DOCTYPE html>
<html>
<head>
  <title>Myquotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container">

<%= yield %>

<div class="panel panel-default"></div>
<div class="panel-heading"></div>
<div class="panel-body"></div>
<div class="panel-footer" ></div>

</body>
</html>
